:root{
    --altura-topo: 80px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ---------- Topo ---------- */
header{
    background-color: #ededed;
    width: 100%;
    height: var(--altura-topo);
}
#caixaMenu{
    display: flex;
    justify-content: space-evenly;
    height: var(--altura-topo);
}
#logoMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}
#menuTopo{
    display: flex;
    align-items: stretch;
}
#menuTopo a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #707070;
    background-color: white;
    width: 10vw;
    color: #363636;
    text-decoration: none;
}
#menuTopo :hover{
    transition: 
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
    background-color: #004680;
    color: #EDEDED;
}
#menuTopo a :hover{
    transition: 
    background-color 250ms ease-in-out;
    background-color: transparent;
}

/* ---------- Rodape ---------- */

footer{
    background-color: #ededed;
    padding: 30px;
}
#menuRodape{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#menuRodape li{
    padding: 5px;
}
#menuRodape li a{
    color: black;
    text-decoration: none;
    text-overflow: inherit;
}

/* Animação da Linha */

#menuRodape li a::after{
    content:"";
    height: 2px;
    width: 0%;
    background-color: rgb(70, 70, 70); /*Cor da Linha*/
    display: block;
    transition: .3s ease-in-out;
}

#menuRodape li a:hover::after{
    content:"";
    height: 2px;
    width: 100%;
    background-color: rgb(70, 70, 70); /*Cor da Linha*/
    display: block;
    transition: .3s ease-in-out;
}


/*----------  Index  ----------*/

.bloco{
    width: 100%;
    height: 60vh;
}

/* Bloco Inicio - logo */

#inicio{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to left,
        #004844,
        #008cae
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

#logo{
    width: 200px;
}

#welcometexto{
    font-weight: bold;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 50px; /*<- O 1.0em e o 0.6em são relativos a isso aqui*/
}

#welcometexto h1{
    font-size: 1.0em; /*Não faz Diferença, mas é para mostrar que é relativo ao tamanho acima*/
    padding-bottom: 13px;
}

#welcometexto h2{
    font-size: 0.6em; /*Também é relativo, mas esse faz diferença*/
}

/* Textos blocos 1 e 2 */

.bloco{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#textob1, #textob2{
    /*Aparência*/
    font-size: 50px;
    width: 50vw;
    height: 60%;
    color: white;

    /*Organização*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    white-space: nowrap;
}

#botaoIndex{
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #004680;
    font-size: 0.5em;
    transition: all 200ms ease;
}

.bloco #titulo{
    font-weight: bolder;
    font-size: 0.8em;
}

.bloco #subtitulo{
    font-size: 0.5em;
}

#botaoIndex:hover {
    transition: all 200ms ease;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #004680;
    font-weight: bolder;
    font-size: 0.6em;
}

/*Para Telas Pequenas*/
@media (max-width:900px) {
    .bloco{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
    }
}


/* Fundo Bloco 1*/

#b1 {
    position: relative;
    overflow: hidden;
}

/*Before - Imagem de fundo*/
#b1::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/fotoindex.png);
    background-size: cover;
    opacity: 0.5; /*Opacidade da imagem*/
    z-index: 1; /* Ordena elementos*/
}
/*After - Gradiente*/
#b1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /*Gradiente - Opacidade direto na cor no rgba*/
    background: linear-gradient(
        to left,
        rgba(0, 140, 174, 0.8),
        rgba(245, 245, 245, 0.8)
    );
    
    z-index: 2;
}

#b1 #textob1 {
    position: relative;
    z-index: 3;
}


/* Fundo Bloco 2*/
#b2 {
    position: relative;
    overflow: hidden;
}

/*Before - Imagem de fundo*/
#b2::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/fotoindex.png);
    background-size: cover;
    opacity: 0.5; /*Opacidade da imagem*/
    z-index: 1; /* Ordena elementos*/
}
/*After - Gradiente*/
#b2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /*Gradiente - Opacidade direto na cor no rgba*/
    background: linear-gradient(
        to right,
        rgba(0, 140, 174, 0.8),
        rgba(245, 245, 245, 0.8)
    );
    
    z-index: 2;
}

#b2 #textob2 {
    position: relative;
    z-index: 3;
}

/* ---------- Titulos Subpáginas ---------- */

.tituloSubpages{
    height: 25vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.tituloSubpages h1{
    font-weight: bold;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    align-items: center;
    font-size: 40px;
}

.tituloSubpages h2{
    color: whitesmoke;
    font-size: 20px;
}

/* ---------- Loja Online ---------- */

/* ---------- Loja Fisica ---------- */

/* ---------- Assistência ---------- */

/* --- Contato/Trabalhe Conosco ---- */

#contato{
    background-color: #21A2BF;
}

/* -------- Sobre/História --------- */

#sobre{
    background: linear-gradient(
        to top,
        #3c9692,
        #008f88
    );
}

#fotoHist{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

#textoHist{
    padding: 10px;
    text-align: justify;
    display: grid;
    justify-content: center;
    font-size: 17px;
    color: whitesmoke;
    font-size: larger;
}

#textoHist p{
    width: 50vw;
}

#autor{
    padding: 7vw;
    display: flex;
    height: 25vh;
    justify-content: center;
}

#textoAutor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    max-width: 420px;
}

#autor img{
    border-radius: 50%;
}

#autor h2{
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 20px;
    color: #004844;
}

