/*  Geral - Aplicado a todas as Paginas  */


:root{
    --altura-topo: 80px;
    --width-slider: 100%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ---------- Topo (Aplicado a Todas) ---------- */
header{
    background-color: #ededed;
    width: 100%;
    height: var(--altura-topo);
}
#caixaMenu{
    display: flex;
    justify-content: space-evenly;
    height: var(--altura-topo);
}
#logoMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}
#menuTopo{
    display: flex;
    align-items: stretch;
}
#menuTopo a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #707070;
    background-color: white;
    width: 10vw;
    color: #363636;
    text-decoration: none;
}
#menuTopo :hover{
    transition: 
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
    background-color: #004680;
    color: #EDEDED;
}
#menuTopo a :hover{
    /*Tirar cor de fundo do texto com transição*/
    transition: 
    background-color 250ms ease-in-out;
    background-color: transparent;
}

/* ---------- Rodape (Aplicado a Todas) ---------- */

footer{
    background-color: #ededed;
    padding: 30px;
}
#menuRodape{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#menuRodape li{
    padding: 5px;
}
#menuRodape li a{
    color: black;
    text-decoration: none;
    text-overflow: inherit;
}

/* --- Animação da Linha --- */

#menuRodape li a::after{
    content:"";
    height: 2px;
    width: 0%;
    background-color: rgb(70, 70, 70); /*Cor da Linha*/
    display: block;
    transition: .3s ease-in-out;
}

#menuRodape li a:hover::after{
    content:"";
    height: 2px;
    width: 100%;
    background-color: rgb(70, 70, 70); /*Cor da Linha*/
    display: block;
    transition: .3s ease-in-out;
}


/*----------  Index  ----------*/

.bloco{
    width: 100%;
    height: 60vh;
}

/* Bloco Inicio - logo */

#inicio{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to left,
        #004844,
        #008cae
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome{ /* Titulo Pagina Inicial */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

#logo{
    width: 200px;
}

#welcometexto{ /*Texto do Titulo da Pagina Inicial*/
    font-weight: bold;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 50px; /*<- O 1.0em e o 0.6em são relativos a isso aqui*/
}

#welcometexto h1{
    font-size: 1.0em; /*Não faz Diferença, mas é para mostrar que é relativo ao tamanho acima*/
    padding-bottom: 13px;
}

#welcometexto h2{
    font-size: 0.6em; /*Também é relativo, mas esse faz diferença*/
}

/* Textos blocos 1 e 2 */

.bloco{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#textob1, #textob2{
    /*Aparência*/
    font-size: 50px;
    width: 50vw;
    height: 60%;
    color: white;

    /*Organização*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    white-space: nowrap;
}

#botaoIndex{
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #004680;
    font-size: 0.5em;
    transition: all 200ms ease;
}

.bloco #titulo{
    font-weight: bolder;
    font-size: 0.8em;
}

.bloco #subtitulo{
    font-size: 0.5em;
}

#botaoIndex:hover {
    transition: all 200ms ease;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #004680;
    font-weight: bolder;
    font-size: 0.6em;
}

/*Para Telas Pequenas (Referente a sempre que aparecer o @media)*/
@media (max-width:900px) {
    .bloco{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
    }
}


/* Fundo Bloco 1*/

#b1 {
    position: relative;
    overflow: hidden;
}

/*Before (Antes) - Imagem de fundo*/
#b1::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/fotoindex.png);
    background-size: cover;
    opacity: 0.5; /*Opacidade da imagem*/
    z-index: 1; /* Ordena elementos*/
}
/*After (Depois) - Gradiente*/
#b1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /*Gradiente - Opacidade direto na cor no rgba*/
    background: linear-gradient(
        to left,
        rgba(0, 140, 174, 0.8),
        rgba(245, 245, 245, 0.8)
    );
    
    z-index: 2;
}

#b1 #textob1 {
    position: relative;
    z-index: 3;
}


/* Fundo Bloco 2*/
#b2 {
    position: relative;
    overflow: hidden;
}

/*Before - Imagem de fundo*/
#b2::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/fotoindex.png);
    background-size: cover;
    opacity: 0.5; /*Opacidade da imagem*/
    z-index: 1; /* Ordena elementos*/
}
/*After - Gradiente*/
#b2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /*Gradiente - Opacidade direto na cor no rgba*/
    background: linear-gradient(
        to right,
        rgba(0, 140, 174, 0.8),
        rgba(245, 245, 245, 0.8)
    );
    
    z-index: 2;
}

#b2 #textob2 {
    position: relative;
    z-index: 3;
}

/* ---------- Titulos das Subpáginas ---------- */

.tituloSubpages{
    height: 25vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.tituloSubpages h1{
    font-weight: bold;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    align-items: center;
    font-size: 40px;
}

.tituloSubpages h2{
    color: whitesmoke;
    font-size: 20px;
}

/* ---------- Loja Online ---------- */

.lojaOnline{
    background-color: #004680; 
}

.sliderLojaOnline{
    margin: 0 auto;
    width: var(--width-slider);
    overflow: hidden;
}

.slides{
    width: 400%;
    height: auto;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 1s;
}

.slide img{
    width: var(--width-slider);
}

.manual-navigation{
    position: absolute;
    width: var(--width-slider);
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #008cae;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 250ms;
}

.manual-btn:not(:last-child){
    margin-right: 15px;
}

.manual-btn:hover{
    background-color: #008cae;
}

#radio1:checked ~ .first{
    margin: 0;
}
#radio2:checked ~ .first{
    margin: -12.5%;
}
#radio3:checked ~ .first{
    margin: -25%;
}
#radio4:checked ~ .first{
    margin: -37.5%;
}

.navigation-auto div{
    border: 2px solid #004680;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.navigation-auto{
    position: absolute;
    width: var(--width-slider);
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 15px;
}

.navigation-auto, .manual-navigation{
    margin-top: 50%;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #008cae;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #008cae;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #008cae;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #008cae;
}


/* ---------- Loja Fisica ---------- */

/* ---------- Assistência ---------- */

/* --- Contato/Trabalhe Conosco ---- */

.contato{
    background-color: #21A2BF;
}

#caixaFormContato{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#formContato{
    width: 70vw;
    border-radius: 12px;
    background-color: #EDEDED;
    padding: 20px;
}

#formContato form{
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#formContato #dadosContato{
    /* Esse altera os campos (nome, sobrenome, email e motivo) como bloco, uma caixa */
    padding: 10px;
}

#formContato #dadosContato div{
    /* esse altera os campos (nome, sobrenome, email e motivo) separadamente */
    padding: 5px;
}

#motivoContato{
    padding: 2px;
}

#textoContato{
    display: flex;
    flex-direction: column;
    width: 50%; /*Medida Relativa */
}

#enviarCurriculo{
    display: flex;
    flex-direction: column;
}

#Enviar:hover{
    transition: all 150ms ease-in-out;
    background-color: #004680;
    color: whitesmoke;
}


/* -------- Sobre/História --------- */

#sobre{
    background: linear-gradient(
        to top,
        #3c9692,
        #008f88
    );
}

#fotoHist{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

#textoHist{
    padding: 10px;
    text-align: justify;
    display: grid;
    justify-content: center;
    font-size: 17px;
    color: whitesmoke;
    font-size: larger;
}

#textoHist p{
    width: 50vw;
}

#autor{
    padding: 7vw;
    display: flex;
    height: 25vh;
    justify-content: center;
}

#textoAutor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    max-width: 420px;
}

#autor img{
    border-radius: 50%;
}

#autor h2{
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 20px;
    color: #004844;
}

